src/main/resources/iso20022/xsd/rabo-acmt.022.001.02-v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--	20190107 ISO version updated by Rabobank to allow for digital bankswitch notification
			20210512 new tags under index 4.2 Envelope:
			- Requested Execution Date:
			/Document/IdModAdvc/SplmtryData/Envlp/OrgnlTxData/ModId/ReqdExctnDt/
			- Debtor Account, Identification, IBAN:
			/Document/IdModAdvc/SplmtryData/Envlp/OrgnlTxData/ModId/DbtrAcct/
			/Document/IdModAdvc/SplmtryData/Envlp/OrgnlTxData/ModId/DbtrAcct/Id/
			/Document/IdModAdvc/SplmtryData/Envlp/OrgnlTxData/ModId/DbtrAcct/Id/IBAN/
			<CdtrAcct>: occurrence changed from from [1..1] into [0..1]
			20210604 changed targetNamespace and xs:schema xmlns from urn:iso:std:iso:20022:tech:xsd:rabo-acmt.022.001.02 into 
			urn:iso:std:iso:20022:tech:xsd:rabo-acmt.022.001.02-v2
			
			-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:rabo-acmt.022.001.02-v2" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:iso:std:iso:20022:tech:xsd:rabo-acmt.022.001.02-v2" elementFormDefault="qualified">
	<xs:complexType name="AccountIdentification4Choice">
		<xs:choice>
			<xs:element name="IBAN" type="IBAN2007Identifier"/>
			<xs:element name="Othr" type="GenericAccountIdentification1"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="AccountIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="AccountIdentification4Choice"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountSchemeName1Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="5"/>
			<xs:totalDigits value="18"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActiveOrHistoricCurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AddressType2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ADDR"/>
			<xs:enumeration value="PBOX"/>
			<xs:enumeration value="HOME"/>
			<xs:enumeration value="BIZZ"/>
			<xs:enumeration value="MLTO"/>
			<xs:enumeration value="DLVY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AnyBICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BICFIIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BranchAndFinancialInstitutionIdentification5">
		<xs:sequence>
			<xs:element name="FinInstnId" type="FinancialInstitutionIdentification8"/>
			<xs:element name="BrnchId" type="BranchData2" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BranchData2">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text" minOccurs="0"/>
			<xs:element name="Nm" type="Max140Text" minOccurs="0"/>
			<xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClearingSystemIdentification2Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ClearingSystemMemberIdentification2">
		<xs:sequence>
			<xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice" minOccurs="0"/>
			<xs:element name="MmbId" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactDetails2">
		<xs:sequence>
			<xs:element name="NmPrfx" type="NamePrefix1Code" minOccurs="0"/>
			<xs:element name="Nm" type="Max140Text" minOccurs="0"/>
			<xs:element name="PhneNb" type="PhoneNumber" minOccurs="0"/>
			<xs:element name="MobNb" type="PhoneNumber" minOccurs="0"/>
			<xs:element name="FaxNb" type="PhoneNumber" minOccurs="0"/>
			<xs:element name="EmailAdr" type="Max2048Text" minOccurs="0"/>
			<xs:element name="Othr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CountryCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DateAndPlaceOfBirth">
		<xs:sequence>
			<xs:element name="BirthDt" type="ISODate"/>
			<xs:element name="PrvcOfBirth" type="Max35Text" minOccurs="0"/>
			<xs:element name="CityOfBirth" type="Max35Text"/>
			<xs:element name="CtryOfBirth" type="CountryCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="IdModAdvc" type="IdentificationModificationAdviceV02"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ExternalAccountIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalClearingSystemIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalOrganisationIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalPersonIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FinancialIdentificationSchemeName1Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="FinancialInstitutionIdentification8">
		<xs:sequence>
			<xs:element name="BICFI" type="BICFIIdentifier" minOccurs="0"/>
			<xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2" minOccurs="0"/>
			<xs:element name="Nm" type="Max140Text" minOccurs="0"/>
			<xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
			<xs:element name="Othr" type="GenericFinancialIdentification1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericAccountIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max34Text"/>
			<xs:element name="SchmeNm" type="AccountSchemeName1Choice" minOccurs="0"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericFinancialIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="FinancialIdentificationSchemeName1Choice" minOccurs="0"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericOrganisationIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" minOccurs="0"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericPersonIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice" minOccurs="0"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="IBAN2007Identifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="IdentificationAssignment2">
		<xs:sequence>
			<xs:element name="MsgId" type="Max35Text"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
			<xs:element name="Cretr" type="Party12Choice" minOccurs="0"/>
			<xs:element name="FrstAgt" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0"/>
			<xs:element name="Assgnr" type="Party12Choice"/>
			<xs:element name="Assgne" type="Party12Choice"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IdentificationInformation2">
		<xs:sequence>
			<xs:element name="Pty" type="PartyIdentification43" minOccurs="0"/>
			<xs:element name="Acct" type="AccountIdentification4Choice" minOccurs="0"/>
			<xs:element name="Agt" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IdentificationModification2">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="OrgnlPtyAndAcctId" type="IdentificationInformation2" minOccurs="0"/>
			<xs:element name="UpdtdPtyAndAcctId" type="IdentificationInformation2"/>
			<xs:element name="AddtlInf" type="Max140Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IdentificationModificationAdviceV02">
		<xs:sequence>
			<xs:element name="Assgnmt" type="IdentificationAssignment2"/>
			<xs:element name="OrgnlTxRef" type="OriginalTransactionReference18" minOccurs="0"/>
			<xs:element name="Mod" type="IdentificationModification2" maxOccurs="unbounded"/>
			<xs:element name="SplmtryData" type="SupplementaryData1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:complexType name="MandateRelatedInformation1">
		<xs:sequence>
			<xs:element name="MndtId" type="Max35Text" minOccurs="0"/>
			<xs:element name="DtOfSgntr" type="ISODate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Max140Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="140"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max16Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max2048Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2048"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max34Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max350Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="350"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max70Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NamePrefix1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DOCT"/>
			<xs:enumeration value="MIST"/>
			<xs:enumeration value="MISS"/>
			<xs:enumeration value="MADM"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OrganisationIdentification8">
		<xs:sequence>
			<xs:element name="AnyBIC" type="AnyBICIdentifier" minOccurs="0"/>
			<xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentificationSchemeName1Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="OriginalTransactionData1">
		<xs:sequence>
			<xs:element name="ModId" type="Max35Text"/>
			<xs:element name="ReqdColltnDt" type="ISODate" minOccurs="0"/>
			<xs:element name="ReqdExctnDt" type="ISODate" minOccurs="0"/>
			<xs:element name="IntrBkSttlmDt" type="ISODate" minOccurs="0"/>
			<xs:element name="InstrId" type="Max35Text" minOccurs="0"/>
			<xs:element name="EndToEndId" type="Max35Text" minOccurs="0"/>
			<xs:element name="InstdAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
			<xs:element name="Cdtr" type="PartyIdentification43"/>
			<xs:element name="CdtrAcct" type="AccountIdentification1" minOccurs="0"/>
			<xs:element name="CdtrSchmeId" type="PartyIdentification43" minOccurs="0"/>
			<xs:element name="Dbtr" type="PartyIdentification43"/>
			<xs:element name="DbtrAcct" type="AccountIdentification1" minOccurs="0"/>
			<xs:element name="MndtRltdInf" type="MandateRelatedInformation1" minOccurs="0"/>
			<xs:element name="RmtInf" type="RemittanceInformation1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OriginalTransactionReference18">
		<xs:sequence>
			<xs:element name="MsgId" type="Max35Text" minOccurs="0"/>
			<xs:element name="MsgNmId" type="Max35Text" minOccurs="0"/>
			<xs:element name="CreDtTm" type="ISODateTime" minOccurs="0"/>
			<xs:element name="OrgnlTx" type="PaymentIdentification4" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party11Choice">
		<xs:choice>
			<xs:element name="OrgId" type="OrganisationIdentification8"/>
			<xs:element name="PrvtId" type="PersonIdentification5"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Party12Choice">
		<xs:choice>
			<xs:element name="Pty" type="PartyIdentification43"/>
			<xs:element name="Agt" type="BranchAndFinancialInstitutionIdentification5"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PartyIdentification43">
		<xs:sequence>
			<xs:element name="Nm" type="Max140Text" minOccurs="0"/>
			<xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
			<xs:element name="Id" type="Party11Choice" minOccurs="0"/>
			<xs:element name="CtryOfRes" type="CountryCode" minOccurs="0"/>
			<xs:element name="CtctDtls" type="ContactDetails2" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentIdentification4">
		<xs:sequence>
			<xs:element name="InstrId" type="Max35Text" minOccurs="0"/>
			<xs:element name="EndToEndId" type="Max35Text"/>
			<xs:element name="TxId" type="Max35Text"/>
			<xs:element name="ClrSysRef" type="Max35Text" minOccurs="0"/>
			<xs:element name="FrstAgt" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdentification5">
		<xs:sequence>
			<xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth" minOccurs="0"/>
			<xs:element name="Othr" type="GenericPersonIdentification1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdentificationSchemeName1Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="PhoneNumber">
		<xs:restriction base="xs:string">
			<xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PostalAddress6">
		<xs:sequence>
			<xs:element name="AdrTp" type="AddressType2Code" minOccurs="0"/>
			<xs:element name="Dept" type="Max70Text" minOccurs="0"/>
			<xs:element name="SubDept" type="Max70Text" minOccurs="0"/>
			<xs:element name="StrtNm" type="Max70Text" minOccurs="0"/>
			<xs:element name="BldgNb" type="Max16Text" minOccurs="0"/>
			<xs:element name="PstCd" type="Max16Text" minOccurs="0"/>
			<xs:element name="TwnNm" type="Max35Text" minOccurs="0"/>
			<xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0"/>
			<xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
			<xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="7"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RemittanceInformation1">
		<xs:sequence>
			<xs:element name="Ustrd" type="Max140Text" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SupplementaryData1">
		<xs:sequence>
			<xs:element name="PlcAndNm" type="Max350Text" minOccurs="0"/>
			<xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SupplementaryDataEnvelope1">
		<xs:sequence>
			<xs:element name="OrgnlTxData" type="OriginalTransactionData1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
